{% extends 'base.html' %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h1 class="fw-bold mb-4 text-ums">{{ item.title }}</h1>
        <div class="card">
            {% if item.image %}
            <img src="{{ item.image.url }}" class="card-img-top" style="height:300px; object-fit:cover;">
            {% endif %}
            <div class="card-body">
                <p>{{ item.full }}</p>
                <a href="{% url 'akademik' %}" class="btn btn-secondary btn-sm">Kembali</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
